<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/FontAwesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="overlay">
      <div class="header">
        <div class="group container">
          <div class="fl_left">
            <h1>HOPPLER</h1>
          </div>
          <div class="fl_right">
            <ul class="menu">
              <li>HOME</li>
              <li>PAGES</li>
              <li>DROPDOWN</li>
              <li>LINK TEXT</li>
              <li>LINK TEXT</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pageinfo">
        <article>
          <h3 class="heading">POTENTI INTEGER DIGNISSIM</h3>
          <p>Nunc gravida sem dui tempus nunc at tristique magna turpis in magna nunc vitae vestibulum ligula mauris malesuada</p>
          <p class="font-x1 bold">FELIS VITAE ULTRICIES BLANDIT</p>
          <div class="footer">  
            <a class="btn" href="#">FERMENTUM ELEMENTUM</a>
          </div>
        </article>
      </div>
    </div>
    <div class="wrapper row1">
      <div class="container">
        <div class="group services">
          <div class="change_attr">
            <button class="show">Read more</button>
            <button class="hide">hide</button>
            <p id="toggle">toggle</p>
          </div>
          <div class="one_third first">
            <article>
              <i class="fa fa-2x fa-registered"></i>
              <h6 class="heading">SUSCIPIT URNA QUIS</h6>
              <p>Ipsum feugiat diam fermentum ornare proin blandit rhoncus eros nec vulputate aliquam tempus non dolor vitae finibus […]</p>
            </article>
          </div>
          <div class="one_third">
            <article>
              <i class="fa fa-2x fa-renren"></i>
              <h6 class="heading">CURSUS SOLLICITUDIN</h6>
              <p>Suscipit lacus eu posuere vehicula cras lacinia nunc libero feugiat tristique massa mattis quis donec eu porttitor consequat […]</p>
            </article>
          </div>
          <div class="one_third">
            <article>
              <i class="fa fa-2x fa-resistance"></i>
              <h6 class="heading">PHASELLUS BLANDIT</h6>
              <p>Felis proin hendrerit sapien ipsum quis accumsan ipsum vestibulum faucibus nunc rhoncus lectus non nunc dapibus congue […]</p>
            </article>
          </div>
          <div class="one_third first">
            <article>
              <i class="fa fa-2x fa-flash"></i>
              <h6 class="heading">DIGNISSIM TRISTIQUE</h6>
              <p>Vivamus sollicitudin metus cursus pulvinar posuere nam fringilla pretium fringilla vestibulum commodo sagittis elit dui rutrum velit […]</p>
            </article>
          </div>
          <div class="one_third">
            <article>
              <i class="fa fa-2x fa-assistive-listening-systems"></i>
              <h6 class="heading">ANTE LUCTUS MALESUADA</h6>
              <p>At porta massa fringilla vitae elit donec tellus lorem rhoncus in orci et efficitur hendrerit erat nam porttitor duis eget dignissim […]</p>
            </article>
          </div>
          <div class="one_third">
            <article>
              <i class="fa fa-2x fa-globe"></i>
              <h6 class="heading">ERAT MAURIS DONEC</h6>
              <p>Lacus ut lorem rhoncus dictum sed nisl eros consequat vel velit et venenatis accumsan nibh sed sit amet turpis convallis […]</p>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay2">
      <div class="container">
        <div class="sectiontitle">
          <h6 class="heading">LAOREET DOLOR ETIAM</h6>
        </div>
        <div class="group text">
          <div class="two_third first">
            <p>Orci dignissim placerat quisque</p>
            <p>Odio in accumsan in finibus lacus vitae condimentum dignissim urna est auctor ante eget viverra ex ex non enim fusce vitae leo eleifend rutrum nisl sit amet congue ligula ut vulputate hendrerit nisl ut condimentum duis.</p>
            <p class="btmspace">Luctus quam ut est aliquam et ultricies nisl vulputate donec in luctus arcu maecenas nec metus ac magna posuere […]</p>
            <div>
              <a class="btn" href="#">READ MORE »</a>
            </div>
          </div>
          <div class="one_third">
            <p class="bold">Malesuada congue pulvinar</p>
            <iframe src="https://www.youtube-nocookie.com/embed/8Z9089048wk?modestbranding=1&showinfo=0&vq=hd1080&rel=0&wmode=transparent"></iframe>
            <p>Lacus vitae ullamcorper cum sociis natoque penatibus et magnis dis.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper row2">
      <div class="container">
        <div class="sectiontitle">
          <h6 class="heading">ULLAMCORPER BIBENDUM</h6>
        </div>
        <div class="group image">
          <div class="one_third first">
            <img src="./figure/01.jpg">
          </div>
          <div class="two_third">
            <div class="one_half first btmspace ">
              <img src="./figure/02.jpg">
            </div>
            <div class="one_half btmspace">
              <img src="./figure/03.jpg">
            </div>
            <div class="one_half first">
              <img src="./figure/04.jpg">
            </div>
            <div class="one_half">
              <img src="./figure/05.jpg">
            </div> 
          </div>  
        </div>
      </div>
    </div>
    <div class="wrapper row3">
      <div class="container">
        <div class="sectiontitle">
          <h6 class="heading">LECTUS NULLA FACILISI</h6>
        </div>
        <div>
          <span id="slide_up">slide_up</span>
          <span id="slide_down">slide_down</span>
        </div>
        <div class="group price_info">
          <div class="one_third first">
            <div class="pricelist">
              <div class="price">
                <p>£</p>
                <strong>80</strong>
                <p>PCM</p>
              </div>
              <div>VULPUTATE</div>
              <div>Sed at odio ligula</div>
              <div>Nisi lacus aliquam</div>
              <div>Turpis feugiat ornare</div>
              <div>Gravida ultricies</div>
              <div>Ipsum magna vivamus</div>
              <div>
                <p>(SAVE 50%)</p>
                <p>
                  <a class="btn" href="#">CONDIMENTUM</a>
                </p>
              </div>
            </div>
          </div>
          <div class="one_third">
            <div class="pricelist">
              <div class="price">
                <p>£</p>
                <strong>100</strong>
                <p>PCM</p>
              </div>
              <div>SUSPENDISSE</div>
              <div>Quis varius justo</div>
              <div>Enim ac risus maecenas</div>
              <div>A maximus ipsum</div>
              <div>Nec eleifend velit</div>
              <div>Nullam in dolor</div>
              <div>
                <p>(SAVE 50%)</p>
                <p>
                  <a class="btn" href="#">CONDIMENTUM</a>
                </p>
              </div>
            </div>
          </div>
          <div class="one_third">
            <div class="pricelist">
              <div class="price">
                <p>£</p>
                <strong>125</strong>
                <p>PCM</p>
              </div>
              <div>TINCIDUNT</div>
              <div>Sit amet lacus</div>
              <div>Lacinia vestibulum</div>
              <div>At vestibulum orci</div>
              <div>Sed elementum a</div>
              <div>Augue non consequat</div>
              <div>
                <p>(SAVE 50%)</p>
                <p>
                  <a class="btn" href="#">CONDIMENTUM</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cover overlay3">
      <div class="container">
        <ul class="group status">
          <li class="one_quarter first">
            <i class="fa fa-3x fa-slack"></i>
            <p>SLACK</p>
            <p>0205</p>
          </li>
          <li class="one_quarter">
            <i class="fa fa-3x fa-signal"></i>
            <p>SIGNAL</p>
            <p>0608</p>
          </li>
          <li class="one_quarter">
            <i class="fa fa-3x fa-music"></i>
            <p>MUSIC</p>
            <p>0911</p>
          </li>
          <li class="one_quarter">
            <i class="fa fa-3x fa-snowflake-o"></i>
            <p>SNOWFLAKE</p>
            <p>1202</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="wrapper row4">
      <div class="container">
        <div class="sectiontitle">
          <h6 class="heading">CONSECTETUR PLACERAT</h6>
        </div>
        <div class="group people">
          <figure class="one_quarter first">
            <img src="./figure/06.jpg">
            <div class="personal_info">
              <h6 class="heading">A. DOE</h6>
              <p>Eu urna pretium</p>
              <footer>
                <ul class="group icon">
                  <li>
                    <i class="fa fa-twitter"></i>
                  </li>
                  <li>
                    <i class="fa fa-linkedin"></i>
                  </li>
                  <li>
                    <i class="fa fa-google-plus"></i>
                  </li>
                  <li>
                    <i class="fa fa-vk"></i>
                  </li>
                </ul>
              </footer>
            </div>
          </figure>
          <figure class="one_quarter">
            <img src="./figure/07.jpg">
            <div class="personal_info">
              <h6 class="heading">B. DOE</h6>
              <p>Ullamcorper aliquam</p>
              <footer>
                <ul class="group icon">
                  <li>
                    <i class="fa fa-twitter"></i>
                  </li>
                  <li>
                    <i class="fa fa-linkedin"></i>
                  </li>
                  <li>
                    <i class="fa fa-google-plus"></i>
                  </li>
                  <li>
                    <i class="fa fa-vk"></i>
                  </li>
                </ul>
              </footer>
            </div>
          </figure>
          <figure class="one_quarter">
            <img src="./figure/08.jpg">
            <div class="personal_info">
              <h6 class="heading">C. DOE</h6>
              <p>Id dolor in est</p>
              <footer>
                <ul class="group icon">
                  <li>
                    <i class="fa fa-twitter"></i>
                  </li>
                  <li>
                    <i class="fa fa-linkedin"></i>
                  </li>
                  <li>
                    <i class="fa fa-google-plus"></i>
                  </li>
                  <li>
                    <i class="fa fa-vk"></i>
                  </li>
                </ul>
              </footer>
            </div>
          </figure>
          <figure class="one_quarter">
            <img src="./figure/09.jpg">
            <div class="personal_info">
              <h6 class="heading">D. DOE</h6>
              <p>Dignissim tempus</p>
              <footer>
                <ul class="group icon">
                  <li>
                    <i class="fa fa-twitter"></i>
                  </li>
                  <li>
                    <i class="fa fa-linkedin"></i>
                  </li>
                   <li>
                    <i class="fa fa-google-plus"></i>
                  </li>
                  <li>
                    <i class="fa fa-vk"></i>
                  </li>
                </ul>
              </footer>
            </div>
          </figure>
        </div>
      </div>
    </div>
    <div class="cover overlay4">
      <div class="container">
        <article class="leader_info">
          <img src="./figure/10.jpg">
          <p>Ridiculus mus nunc ut nisi sit amet tellus aliquam aliquet suspendisse sit amet lacus a felis sagittis fringilla at et nibh donec placerat luctus nisi nec malesuada.</p>
          <h6 class="heading">E. DOE</h6>
          <p>Parturient montes nascetur</p>
        </article>
      </div>
    </div>
    <div class="wrapper row5">
      <div class="container">
        <div class="sectiontitle">
          <h6 class="heading">INTEGER CURSUS MAURIS</h6>
        </div>
        <div class="group activities">
          <article class="one_third first">
            <img src="./figure/11.jpg">
            <h6 class="heading">QUIS ERAT ULTRICES</h6>
            <ul class="group icon_info">
              <li>
                <i class="fa fa-user"></i>
                <p>Admin</p>
              </li>
              <li>
                <i class="fa fa-tag"></i>
                <p>Category Name</p>
              </li>
            </ul>
            <p>Imperdiet habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas nam ac tortor velit aenean […]</p>
          </article>
          <article class="one_third">
            <img src="./figure/12.jpg">
            <h6 class="heading">CONDIMENTUM EX UT NULLA</h6>
            <ul class="group icon_info">
              <li>
                <i class="fa fa-user"></i>
                <p>Admin</p>
              </li>
              <li>
                <i class="fa fa-tag"></i>
                <p>Category Name</p>
              </li>
            </ul>
            <p>Et dapibus dui in est aliquet ac laoreet vel sollicitudin vel nisl etiam sodales felis quis purus consequat tempor aenean […]</p>
          </article>
          <article class="one_third">
            <img src="./figure/13.jpg">
            <h6 class="heading">SEMPER TORTOR BIBENDUM</h6>
            <ul class="group icon_info">
              <li>
                <i class="fa fa-user"></i>
                <p>Admin</p>
              </li>
              <li>
                <i class="fa fa-tag"></i>
                <p>Category Name</p>
              </li>
            </ul>
            <p>Posuere odio id vulputate lectus etiam ut tincidunt erat a placerat tortor nam quis lorem auctor interdum velit quis […]</p>
          </article>
        </div>
      </div>
    </div>
    <div class="wrapper row6">
      <div id="footer" class="group container">
        <div class="one_quarter first">
          <h6 class="heading">TURPIS NAM SAPIEN</h6>
          <p>Bibendum ullamcorper cras imperdiet justo vitae odio dignissim porta maecenas vel ante pharetra.</p>
          <p>Lorem facilisis rutrum in sed sem proin interdum lectus non laoreet tellus leo imperdiet.</p>
        </div>
        <div class="one_quarter">
          <h6 class="heading">PHARETRA A LUCTUS</h6>
          <ul class="link">
            <li>
              <i class="fa fa-lg fa-home"></i>
            </li>
            <li>ABOUT</li>
            <li>CONTACT</li>
            <li>TERMS</li>
            <li>PRIVACY</li>
            <li>COOKIES</li>
            <li>DISCLAIMER</li>
          </ul>
          <ul class="icon">
            <li>
              <i class="fa fa-facebook"></i>
            </li>
            <li>
              <i class="fa fa-twitter"></i>
            </li>
            <li>
              <i class="fa fa-dribbble"></i>
            </li>
            <li>
              <i class="fa fa-linkedin"></i>
            </li>
            <li>
              <i class="fa fa-google-plus"></i>
            </li>
            <li>
              <i class="fa fa-vk"></i>
            </li>
          </ul>
        </div>
        <div class="one_quarter">
          <h6 class="heading">A MAXIMUS LECTUS</h6>
          <article>
            <h6 class="heading">SUSPENDISSE POTENTI PROIN</h6>
            <time>Friday, 6<sup>th</sup> April 2045</time>
            <p>Tortor a erat aliquam a consequat augue a elementum ante donec luctus posuere mauris non tempus felis […]</p>
          </article>
        </div>
        <div class="one_quarter">
          <h6 class="heading">NON SAPIEN NUNCT</h6>
          <ul class="linklist">
            <li>
              <a href="#">Lectus pharetra quis arcu</a>
            </li>
            <li>
              <a href="#">Sed facilisis tempor velit ut</a>
            </li>
            <li>
              <a href="#">Et maximus lorem maximus</a>
            </li>
            <li>
              <a href="#">Habitant morbi tristique</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wrapper row7">
      <div class="group copyright">
        <p class="fl_left">Copyright © 2009 - 2017 - All Rights Reserved - Domain Name</p>
        <p class="fl_right">Template by OS Templates</p>
      </div>
    </div>
    <a id="backtotop">
      <i class="fa fa-chevron-up"></i>
    </a>
    <script src="./jquery.js"></script>
  </body>
</html>